@using Telerik.FontIcons
@using UniANPR.Models.Shared
@inherits ThreeSComponentBase

<TelerikNotification @ref="NotificationReference"
                         HorizontalPosition="@NotificationHorizontalPosition.Center"
                         VerticalPosition="@NotificationVerticalPosition.Top"></TelerikNotification>

    <TelerikTileLayout Columns="3"
                   RowHeight="97px"
                   Resizable="true"
                   Reorderable="true">
    <TileLayoutItems>

        <TileLayoutItem RowSpan="4" ColSpan="2">
            <HeaderTemplate>
                <span class="k-card-title">Active Race</span>
                <div style="display: inline; float: right; right: 15px; position: absolute; bottom: 7px; ">
                    <span style="display: inline-block;"> <TelerikButton Class="threeSCTileHeaderButton" OnClick="@test" Icon="@FontIcon.Search"></TelerikButton> </span>
                </div>
            </HeaderTemplate>
            <Content>

            </Content>
        </TileLayoutItem>

        <TileLayoutItem HeaderText="League Table" RowSpan="7" ColSpan="1">
            <HeaderTemplate>
                <span class="k-card-title">League Table</span>
                <div style="display: inline; float: right; right: 15px; position: absolute; bottom: 7px; ">
                    <span style="display: inline-block;"> <TelerikButton Class="threeSCTileHeaderButton" OnClick="@TestAPI" Icon="@FontIcon.Search"></TelerikButton> </span>
                </div>
            </HeaderTemplate>
            <Content>Regular-sized first tile.</Content>
        </TileLayoutItem>

        <TileLayoutItem  RowSpan="3" ColSpan="1">
            <HeaderTemplate>
                <span class="k-card-title">Pending Races</span>
                <div style="display: inline; float: right; right: 15px; position: absolute; bottom: 7px; ">
                    <span style="display: inline-block;"> <TelerikButton Class="threeSCTileHeaderButton" OnClick="@test" Icon="@FontIcon.Search"></TelerikButton> </span>
                </div>
            </HeaderTemplate>
            <Content><GridPendingRaces /></Content>
        </TileLayoutItem>

        <TileLayoutItem RowSpan="3" ColSpan="1">
            <HeaderTemplate>
                <span class="k-card-title">Completed Races</span>
                <div style="display: inline; float: right; right: 15px; position: absolute; bottom: 7px; ">
                    <span style="display: inline-block;"> <TelerikButton Class="threeSCTileHeaderButton" OnClick="@AddNewTrack" Icon="@FontIcon.Plus">Add Track</TelerikButton> </span>
                                    <span style="display: inline-block;"> <TelerikButton Class="threeSCTileHeaderButton" OnClick="@ScheduleRace" Icon="@FontIcon.Plus">Schedule Race</TelerikButton> </span>

                </div>
            </HeaderTemplate>
            <Content>This tile is three rows tall.</Content>
        </TileLayoutItem>

    </TileLayoutItems>
</TelerikTileLayout>

<UniANPR.Components.PopupCreateRace @ref="_thisCreateRacePopupRef" OnRaceCreationConfirmed="@HandleRaceCreationConfirmed" OnRaceCreationCancelled="@HandleRaceCreationCancelled" />
<UniANPR.Components.PopupCreateTrack @ref="_thisCreateTrackPopupRef" OnTrackCreationConfirmed="@HandleTrackCreationConfirmed" OnTrackCreationCancelled="@HandleTrackCreationCancelled" />
<PopupEditRace @ref="_thisEditRacePopupRef" />
