@using UniANPR.Models.Components
@using Telerik.FontIcons
@using UniANPR.Models.Components
@using UniANPR.Models.Shared
@inherits ThreeSComponentBase


<TelerikGrid Data="@_allLapData"
             Height="100%"
             Class="activeRaceGrid">
                <RowTemplate Context="data">
                  
                    <td>@data.ParticipantId</td>
                    <td>@data.LapNumber</td>/@_raceDetails.RequiredLaps
                    <td>@data.TimeCrossed</td>
                    <td>@data.LastLapTime</td>
                    <td>@data.FastestLap</td>

                </RowTemplate>
    <GridColumns>

        <GridColumn Field=@nameof(Lap_VM.ParticipantId)
                    Title="Team ID" Width="55px" />
        <GridColumn Field=@nameof(Lap_VM.LapNumber)
                    Title="Lap Number" Width="120px" />
        <GridColumn Field=@nameof(Lap_VM.TimeCrossed)
                    Title="Time Crossed" Width="80px" />
        <GridColumn Field=@nameof(Lap_VM.LastLapTime)
                    Title="Time Crossed" Width="80px" />
        <GridColumn Field=@nameof(Lap_VM.FastestLap)
                        Title="Time Crossed" Width="80px" />

    </GridColumns>

</TelerikGrid>

