@using Telerik.FontIcons
@using UniANPR.Models.Shared
@inherits ThreeSComponentBase

<TelerikWindow Modal="true" Size="WindowSize.Mediun" Height="auto" Width="auto" Visible="@RegisterForRacePopupVisible" Resizable="false" Draggable="false">
    <WindowTitle>Register For Race</WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" OnClick="@CancelEditing"></WindowAction>
    </WindowActions>
    <WindowContent>
                <div style="padding: 20px;">

            <TelerikDropDownList @bind-Value="selectedRaceId"
                                Data="@EligibleRaceDdlData"
                                ValueField="@(nameof(ValueTextModel.DdlValueField))"
                                TextField="@(nameof(ValueTextModel.DdlTextField))"
                                Width="100%"
                                OnChange="@SelectedRaceChanged">
            </TelerikDropDownList>

        @if (@SelectedRace.RaceId != 0) 
        {
            <br />
                        <label class="">Track:</label>
            <TelerikTextBox Enabled=false @bind-Value="@SelectedRace.RaceTrackName"></TelerikTextBox>
            <br />
            <label class="">Available Spots:</label>
            <TelerikNumericTextBox Enabled=false Width="100%" Decimals="0" Min="0" @bind-Value="@SelectedRace.Spots"></TelerikNumericTextBox>
            <br />
            <label class="">Required Laps:</label>
            <TelerikNumericTextBox Enabled=false Width="100%" Decimals="0" Min="0" @bind-Value="@SelectedRace.RequiredLaps" ></TelerikNumericTextBox>
            <br />
            <label class="">Start Date/Time</label>
            <TelerikDateTimePicker Enabled=false Width="100%" Min="DateTime.Now.AddHours(1)" @bind-Value="@SelectedRace.StartTime" ></TelerikDateTimePicker>
            <br />
            <label class="">End Date/Time</label>
            <TelerikDateTimePicker Enabled=false Width="100%" Min="DateTime.Now.AddHours(2)" @bind-Value="@SelectedRace.EndTime" ></TelerikDateTimePicker>
            <br />
            <label class="">Participant Numberplate:</label>
            <TelerikTextBox @bind-Value="@ParticipantNumberplate"></TelerikTextBox>
            <br />
            <TelerikButton Class="threeSCTileHeaderButton" OnClick="@RegisterForRace" Icon="@FontIcon.Check">Submit</TelerikButton> 

        }
        </div>

    </WindowContent>
</TelerikWindow>